@model ContosoSite.Models.сотрудники

@{
    ViewBag.Title = "";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Readex+Pro:wght@200&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/style.css">
<h1>Cотрудники</h1>
<h2>Создать</h2>

@using (Html.BeginForm(Html.BeginForm("Create", "Сотрудники", null, FormMethod.Post, new { enctype = "multipart/form-data" })))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ФИО, "ФИО", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ФИО, new { htmlAttributes = new { @class = "seacrchStringAut" } })
                @Html.ValidationMessageFor(model => model.ФИО, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.дата_рождения, "Дата рождения", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.дата_рождения, new { htmlAttributes = new { @class = "seacrchStringAut" } })
                @Html.ValidationMessageFor(model => model.дата_рождения, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.номер, "Номер", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.номер, new { htmlAttributes = new { @class = "seacrchStringAut" } })
                @Html.ValidationMessageFor(model => model.номер, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.должность, "Должность", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.должность, new { htmlAttributes = new { @class = "seacrchStringAut" } })
                @Html.ValidationMessageFor(model => model.должность, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.паспортные_данные, "Паспортные данные", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.паспортные_данные, new { htmlAttributes = new { @class = "seacrchStringAut" } })
                @Html.ValidationMessageFor(model => model.паспортные_данные, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.фото, "Фото",new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="upload" value="Обзор..." />
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    <div class="buttTubDetails" style="width: 130px; margin-bottom: 15px;">@Html.ActionLink("Вернуться назад", "Index")</div>
</div>
