@model ContosoSite.Models.запчасти

@{
    ViewBag.Title = "";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Readex+Pro:wght@200&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/style.css">
<h4>Запчасти</h4>
<h2>Удаление</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Наименование товара
        </dt>

        <dd>
            @Html.DisplayFor(model => model.наименование_товара)
        </dd>

        <dt>
            Количество на складе
        </dt>

        <dd>
            @Html.DisplayFor(model => model.количество_на_складе)
        </dd>

        <dt>
            ФИО
        </dt>

        <dd>
            @Html.DisplayFor(model => model.поставщики.ФИО)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" style="border:none; background-color: #ff3f3f; width: 130px; margin-bottom: 15px;" />
        </div>
    }

    <div class="buttTubDetails" style="width: 130px; margin-bottom: 15px;">@Html.ActionLink("Вернуться назад", "Index")</div>
</div>
