@model IEnumerable<ContosoSite.Models.поставщики>

@{
    ViewBag.Title = "";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Readex+Pro:wght@200&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/style.css">

<h2>Поставщики</h2>

<p>
    <div class="butCreate">@Html.ActionLink("Создать новую запись", "Create")</div>
</p>
<table class="table">
    <tr>
        <th>
            ФИО
        </th>
        <th>
            Дата рождения
        </th>
        <th>
            Номер телефона
        </th>
        <th>
            Компания
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ФИО)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.дата_рождения)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.номер_телефона)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.компания)
            </td>
            <td>
                @if (Session["login"].Equals("admin"))
                {
                    <div class="buttTubEdit">@Html.ActionLink("Редактировать", "Edit", new { id = item.код_поставщика })</div>
                    <div class="buttTubDetails">@Html.ActionLink("Подробнее", "Details", new { id = item.код_поставщика })</div>
                    <div class="buttTubDel">@Html.ActionLink("Удалить", "Delete", new { id = item.код_поставщика })</div>
                }
            </td>
        </tr>
    }

</table>
