@model ContosoSite.Models.заказы

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>заказы</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.код_автомобиля, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.код_автомобиля, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.код_автомобиля, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.код_клиента, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.код_клиента, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.код_клиента, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.дата_приема, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.дата_приема, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.дата_приема, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.дата_выдачи, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.дата_выдачи, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.дата_выдачи, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.вид_работ, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.вид_работ, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.вид_работ, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.сумма_работ, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.сумма_работ, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.сумма_работ, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.товары_для_ремонта, "товары_для_ремонта", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("товары_для_ремонта", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.товары_для_ремонта, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.сотрудник, "сотрудник", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("сотрудник", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.сотрудник, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
